#
# The MySQL database server configuration file.
#
[client]
user=root
port=3306
socket=/tmp/mysql.sock

[mysql]
prompt=\u:\d>\_

[mysqld_safe]
socket=/tmp/mysql.sock

[mysqld]
#
# Basic Settings
#
default-storage-engine=innodb
skip-grant-tables
pid-file=/path/to/datadir/mysql.pid
socket=/tmp/mysql.sock
port=3306
datadir=/path/to/datadir/
log-error=/path/to/logdir/mysql_error.log

#
# InnoDB
#

# Innodb page size
innodb_page_size=4KB

# Buffer settings
innodb_buffer_pool_size=2G
innodb_buffer_pool_instances=8
innodb_lru_scan_depth=1024

# Transaction log settings
# Log group path (iblog0, iblog1)
innodb_log_group_home_dir=/path/to/logdir/
innodb_log_file_size=500M
innodb_log_files_in_group=3
innodb_log_buffer_size=32M

# Flush settings
# 0:every 1 seconds, 1:fsync on commits, 2:writes on commits
innodb_flush_log_at_trx_commit=0
innodb_flush_neighbors=0
innodb_flush_method=O_DIRECT

# AIO control
innodb_use_native_aio=true

# I/O settings
innodb_io_capacity=1000
innodb_io_capacity_max=2000

# Dirty page ratios
innodb_max_dirty_pages_pct=90
innodb_max_dirty_pages_pct_lwm=10

# etc
max_connections=1024
open_files_limit=24000